@import "./../util";

.product-wrap {
  @include wrap;

  .img-wrap {
    width: 100%;
    height: 350px;
    background-color: #ddd;

    .swiper {
      height: inherit;

      .swiper-wrapper {
        height: inherit;
      }
    }
  }

  .product-user {
    @include flex($just: space-between);
    padding: 15px 0;
    border-bottom: 1px solid var(--colorFg2);

    .user-info {
      @include flex;
      background-color: transparent;
      padding: 0;

      .img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #ddd;
        background-size: cover;
      }

      p {
        color: var(--colorFg11);
        margin-left: 8px;
        font-size: 0.875rem;
      }
    }

    .btn-wrap {
      @include flex($just: flex-start);
      button {
        background-color: transparent;
        border: 1px solid var(--hover-bg);
        padding: 10px;
        border-radius: 3px;
        margin-right: 10px;

        svg {
          width: 16px;

          .non-like {
            fill: var(--colorFg4);
          }
        }
      }

      .chat {
        display: block;
        padding: 10px 25px;
        background-color: $main-color;
        color: #fff;
        border-radius: 3px;
        letter-spacing: 1px;
        font-weight: 600;
      }
    }
  }

  .product-info {
    padding-top: 20px;
    border-bottom: 1px solid var(--colorFg2);
    margin-bottom: 30px;
    .category {
      display: inline-block;
      font-size: 0.812rem;
      letter-spacing: -0.6px;
      color: #868e96;
    }
    .tit {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.6;
    }
    .price {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.5;
    }
    .txt-wrap {
      margin: 15px 0 30px;

      .info-txt {
        font-size: 17px;
      }
    }
  }

  .dock-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: var(--primary-color);
    z-index: 9;
    @include flex($just: flex-start);

    button {
      background-color: transparent;
      border: 1px solid var(--hover-bg);
      padding: 14px;
      border-radius: 3px;
      margin-right: 10px;

      svg {
        width: 16px;

        .non-like {
          fill: var(--colorFg4);
        }
      }
    }

    .chat {
      background-color: $main-color;
      color: #fff;
      border-radius: 3px;
      letter-spacing: 1px;
      font-weight: 600;
      padding: 15px 0;
      flex: 1;
      display: block;
      text-align: center;
      font-size: 1rem;
    }
  }

  .category-order-list {
    .order-list-top {
      @include flex($just: space-between);

      .tit {
        font-size: 1.125rem;
        font-weight: 700;
        color: var(--font-color);

        span {
          color: $main-color;
        }
      }

      .more-btn {
        padding: 5px;
        background-color: transparent;
        position: relative;
        display: inline-block;
        height: auto;
        transform: scaleX(1);
        transform-origin: left center;

        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 1px;
          background: var(--font-color);
          width: 100%;
        }

        &:hover {
          opacity: 0.8;

          &::before {
            animation: hoverLine 1.2s cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
      }
    }
    .order-list {
      @include flex($just: flex-start);
      flex-wrap: wrap;
      margin-top: 20px;

      .list {
        width: calc((100% - 60px) / 4);
        margin-right: 20px;
        margin-bottom: 20px;

        &:nth-child(4n) {
          margin-right: 0;
        }

        a {
          display: block;
          .thumb {
            width: 100%;
            border-radius: 5px;
            overflow: hidden;

            .thumb-img {
              padding-top: 100%;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              transition: ease 0.25s;

              &:hover {
                transform: scale(1.05);
              }
            }
          }
          .product-info-txt {
            padding-top: 15px;
            .category {
              font-size: 0.812rem;
              color: var(--colorFg5);
              display: block;
              font-weight: 400;
            }
            .tit {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-weight: 400;
              color: var(--font-color);
              font-size: 0.937rem;
              line-height: 1.6;
            }
            .price {
              font-weight: 700;
              color: var(--font-color);
              font-size: 1.062rem;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .category-order-list {
      .order-list {
        .list {
          width: calc((100% - 40px) / 3);
          &:nth-child(4n) {
            margin-right: 20px;
          }
          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    min-width: 100vw;

    .product-user {
      @include wrap;
    }

    .product-info {
      @include wrap;
    }

    .category-order-list {
      @include wrap;
      margin-top: 20px;
      .order-list {
        .list {
          width: calc((100% - 20px) / 2);
          &:nth-child(3n) {
            margin-right: 20px;
          }
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
