// font
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 200, 300, 400, 500, 600;
  font-style: normal;
}

$main-color: #10cfc9;
$dark-main: #00bbb4;
//   #0ed5d0

// theme
:root {
  --primary-color: #fff;
  --font-color: #282a31;
  --hover-bg: #edeeed;
  --non-hover: #878888;
  --colorFg1: #666;
  --colorFg2: #edeeed;
  --colorFg3: #fff;
  --colorFg4: #1a1a1a;
  --colorFg5: #90949c; //#666
  --colorFg6: #eee;
  --colorFg7: #fd5c5c;
  --colorFg8: #fff;
  --colorFg9: rgba(0, 0, 0, 0.15);
  --colorFg10: #282a31;
  --colorFg11: #282a31;
  --colorFg12: #f2f4f6;
  --colorFg13: rgba(0, 0, 0, 0.54);
  --colorFg14: #f5f7fa;
  --colorFg15: #fff;
  --colorFg16: #44484b;
  --colorFg17: #60656a;
  --colorFg18: #edeeed;
  --colorFg19: #f5f7fa;
  --colorFg20: #e6eaed;
  --colorFg21: #fff;
  --colorFg22: rgba(0, 0, 0, 0.54);
  // rgba(0, 0, 0, 0.54)
}

.dark-theme {
  --primary-color: #000;
  --font-color: #fff;
  --hover-bg: #222224;
  --non-hover: #333;
  --colorFg1: #999;
  --colorFg2: #222224;
  --colorFg3: #121212;
  --colorFg4: #fff;
  --colorFg5: #777;
  --colorFg6: #333;
  --colorFg7: #fd5c5c;
  --colorFg8: #222224;
  --colorFg9: #222224;
  --colorFg10: #222224;
  --colorFg11: #8c8c8c;
  --colorFg12: #222224;
  --colorFg13: #888;
  --colorFg14: #171717;
  --colorFg15: #222;
  --colorFg16: #b0b0b0;
  --colorFg17: #a3a3a3;
  --colorFg18: #353535;
  --colorFg19: #363636;
  --colorFg20: #1c1c1c;
  --colorFg21: #363636;
  --colorFg22: rgba(255, 255, 255, 0.75);
  // #f2f4f6
}

//reset
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
em {
  margin: 0;
}

em {
  font-style: normal;
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}
//reset
input {
  &:focus {
    outline: none;
  }
}

//common Wrap
@mixin wrap {
  max-width: 1296px;
  min-width: 1296px;
  margin: 0 auto;
  @media screen and (max-width: 1439px) {
    max-width: 952px;
    min-width: 952px;
  }
  @media screen and (max-width: 1023px) {
    max-width: 900px;
    min-width: 900px;
  }
  @media screen and (max-width: 950px) {
    max-width: calc(100vw - 80px);
    min-width: calc(100vw - 80px);
  }
  @media screen and (max-width: 767px) {
    max-width: calc(100vw - 40px);
    min-width: calc(100vw - 40px);
  }
}

// 공통 여백
@mixin commonPadding($ptb: 0) {
  padding: $ptb 8.333%; // 160px

  @media screen and (max-width: 1200px) {
    padding: $ptb 6.666%; // 80px
  }

  @media screen and (max-width: 1080px) {
    padding: $ptb 4.629%; // 50px
  }

  @media screen and (max-width: 768px) {
    padding: $ptb 20px;
  }
}

@mixin commonMargin($mtb: 0) {
  margin: $mtb 8.333%; // 160px

  @media screen and (max-width: 1200px) {
    margin: $mtb 6.666%; // 80px
  }

  @media screen and (max-width: 1000px) {
    margin: $mtb 5%; // 50px
  }

  @media screen and (max-width: 768px) {
    margin: $mtb 20px;
  }
}

// flex & grid
@mixin flex($just: center, $align: center, $flex: flex) {
  display: $flex;
  justify-content: $just;
  align-items: $align;
}

@mixin grid($colums: 1fr 1fr 1fr 1fr, $row: minmax(20px, auto), $gap: 30px) {
  display: grid;
  grid-template-columns: $colums;
  grid-auto-rows: $row;
  gap: $gap;
}

@mixin submitBtn {
  width: 100%;
  height: 48px;
  border-radius: 3px;
  color: #fff;
  background-color: $main-color;
  font-size: 1.062rem;
  letter-spacing: 1px;
  font-weight: 500;
}

// text overflow
@mixin txt-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// input
@mixin form_input {
  border: 1px solid var(--colorFg9);
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 1rem;
  transition: 0.25s ease;
  height: 48px;
  width: 100%;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  background-color: var(--colorFg8);
  color: var(--font-color);

  &:hover {
    border-color: var(--colorFg10);
  }

  &:focus {
    border-color: var(--colorFg10);
  }

  &::placeholder {
    color: var(--font-color);
    font-weight: 300;
  }
}
@mixin wngField {
  input {
    border-color: var(--colorFg7);
  }

  em {
    font-style: normal;
    font-size: 0.875rem;
    margin-top: 5px;
    display: block;
    color: var(--colorFg7);
  }
}

@mixin checkbox {
  cursor: pointer;
  @include flex($just: flex-start);
  font-size: 0.832rem;
  color: var(--colorFg11);

  input {
    display: none;
  }

  span {
    width: 12px;
    height: 12px;
    border: 1px solid var(--colorFg9);
    display: block;
    margin-right: 5px;
    position: relative;
    background: var(--primary-color);

    &:after,
    &::before {
      content: "";
      width: 2px;
      position: absolute;
      background: var(--font-color);
      display: none;
    }

    &:before {
      transform: rotate(-45deg);
      left: 1px;
      top: 6px;
      transform-origin: left top;
      transition: 0.35s ease;
    }

    &:after {
      transform: rotate(45deg);
      left: 4px;
      bottom: 4px;
      transform-origin: left bottom;
      // transition: delay 0.35s;
    }
  }

  input:checked + span {
    &:before {
      height: 5px;
      transition: all 0.35s ease;
      display: block;
    }

    &:after {
      height: 8px;
      transition: all 0.35s ease;
      display: block;
    }
  }
}

@mixin product-info {
  font-family: NotoSansKR, sans-serif;

  .tit {
    @include txt-overflow;
    font-weight: 400;
    color: var(--font-color);
    font-size: 1rem;
    line-height: 1.5;
  }
  .category {
    font-size: 0.812rem;
    color: var(--colorFg5);
    display: block;
    font-weight: 400;
    padding: 0 0 10px;
  }
  .price {
    font-weight: 700;
    color: var(--font-color);
    font-size: 1.062rem;

    em {
      font-weight: 500;
      font-size: 1rem;
    }
  }
}

// 리스트 디자인
@mixin list-content {
  @include wrap;
  @include flex($just: flex-start);
  flex-wrap: wrap;

  .list-content {
    width: calc((100% - 90px) / 3);
    margin-bottom: 40px;
    margin-right: 30px;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--colorFg8);
    box-shadow: 4px 12px 30px 2px rgba(0, 0, 0, 0.09);

    .product-img {
      background-color: #ddd;
      overflow: hidden;
      position: relative;
      margin-bottom: 15px;

      .img-inner {
        padding-top: 54%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url("https://cdn.wadiz.kr/wwwwadiz/green001/2022/0217/20220217114627139_137799.jpg/wadiz/resizecrop/686x370/format/jpg/quality/85/");
      }
    }

    .product-info {
      padding: 0 20px 30px;
      @include product-info;
    }
  }
}
