@import "./util";

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "Pretendard", sans-serif;
  overflow-x: hidden;
  font-size: 0.937rem;
  -ms-overflow-style: none;
  color: var(--font-color);
  background-color: var(--primary-color);
  scroll-behavior: smooth;

  &.search-open {
    main {
      height: calc(100vh - 100px);
    }
    .footer {
      display: none;
    }
  }

  &.scroll-non {
    height: 100vh;
    overflow: hidden;
  }

  main {
    padding-top: 70px;
  }
}

.footer {
  margin-top: auto;
}

.screen-out {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  text-indent: -9999px;
}

.stroke-svg {
  stroke: var(--font-color);
}

.title {
  font-size: 30px;
  font-weight: 700;
  padding-top: 40px;
}
